# Project Files
.buildpath
.project
.settings
*.sublime-project
*.sublime-workspace
composer.phar
node_modules
# OS Files
._*
.nfs*p.
*~
*.bak
desktop.ini
.DS_Store
/vendor
/build

*.cache
.cursor
.github
.copilot
